html,
body {
	margin: 0;
	padding: 0;
	background-color: red;
}

.room {
	overflow: hidden;
	position: absolute;
	width: 1000px;
	height: 600px;
	left: 50%;
	top: 50%;
	margin-left: -511px;
	margin-top: -341px;
	cursor: none;
}

.room__top,
.room__bot{
	position: absolute;
	width: 100%;
	height: 100%;
}

.room__top {
	background: url(room2.jpg);
	background-size: cover;
}
.room__bot img{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
}

.room__bot {
	background: url(room2b.jpg);
	background-size: cover;
	-webkit-mask-image: url(msk.png);
	mask-image: url(msk.png);
	-webkit-mask-repeat: no-repeat, no-repeat;
	mask-repeat: no-repeat, no-repeat;
	-webkit-mask-position: 0, 0;
	mask-position: 0, 0;

}

#bdr {
	background: url(bdr.png) no-repeat;
	position: absolute;
	width: 200px;
	height: 210px;
	top: 0px;
	left: 0px;
}
