.panagination {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translate(-50%, -90%);
}

.panagination__item {
	display: inline-block;
	margin: 5px;
	background: url(../img/gameform-cat-nosex1.png) no-repeat;
	width: 38px;
	height: 40px;
	&._active {
		background: url(../img/gameform-cat-sex.png) no-repeat;
	}
}

.game {
	position: relative;
	height: 810px;
	max-width: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background: url(../img/bg-game.jpg) center no-repeat;
	background-size: cover;
}

.game__window {
	overflow: hidden;
	width: 1000px;
	height: 600px;
	box-sizing: border-box;
	position: absolute;
	top: 100px;
	left: 50%;
	transform: translate(-50%, 0);
	border-radius: 10px;
	background-color: #ffedce;
	color: #004990;
	display: none;
	p,
	.game__window__btn-wrap {
		display: none;
	}
	&:first-child() {
		display: block;
	}
//	&._room svg{
//		cursor: crosshair;
//	}
	&._text {
		position: relative;
		text-align: center;
		padding: 50px 0;
		font-size: 22px;
		.game-text__title {
			display: block;
			margin: auto;
			font-size: 28px;
			font-weight: 700;
			line-height: 36px;
		}
		b {
			font-family: inherit;
			color: inherit;
			font-weight: 700;
		}
		img {
			max-width: 200px;
		}
		ul li {
			list-style: none;
			position: relative;
			margin: 10px 0;
			img {
				position: absolute;
				top: 50%;
				left: -30px;
				transform: translate(-50%, -50%);
			}
		}
		ul {
			width: 700px;
			margin: 80px auto 100px;
			text-align: left;
			list-style-type: decimal;
		}
		.game-text {
			position: absolute;
			top: 280px;
			left: 0;
			text-align: center;
			margin-top: 10px;
			padding: 0 20px;
			box-sizing: border-box;
			font-size: 22px;
			width: 100%;
		}
		label {
			display: block;
			text-align: center;
		}
		.room-bg {
			opacity: 0.1;
		}
		.game__pack {
			margin-top: -150px;
		}
		p,
		.game__window__btn-wrap {
			display: block;
		}
		&:before {
			content: '';
			position: absolute;
			z-index: -1;
			top: 10px;
			left: 10px;
			width: 1000px-10px*2-4px*2;
			height: 600px-10px*2-4px*2;
			border: 4px solid #004990;
			border-radius: inherit;
		}
		//        &:before {
		//            content: '';
		//            position: absolute;
		//            top: 0px;
		//            left: 0px;
		//            width: 100%;
		//            height: 100%;
		//            background-color: #ffedce;
		//        }
	}
	//room
}

.game__window svg{
	width: 1000px;
	height: 600px;
	position: absolute;
	top: 0;
	left: 0;
}

.game__window__btn-wrap {
	overflow: hidden;
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, 0);
	#block {
		position: absolute;
		z-index: 200;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		cursor: not-allowed;
		display: none;
	}
}

.game-btn {
	margin: 0 20px;
	vertical-align: middle;
	display: inline-block;
}

.game-fb {
	display: inline-block;
	background: url(../img/footer-fb.png) center no-repeat;
	width: 51px;
	height: 51px;
	vertical-align: middle;
}

#rules-check {
	outline: none;
}

.rules-check {
	display: inline-block;
	margin: auto;
	font-size: 18px;
	cursor: pointer;
	padding-left: 20px;
	position: relative;
	z-index: 10;
	a {
		text-decoration: underline;
	}
}

.input-wrap {
	display: inline-block;
	width: 370px;
	margin: 40px 20px 0;
	vertical-align: top;
	span {
		font-size: 24px;
		line-height: 1;
		position: relative;
		bottom: 0px;
	}
	input {
		width: 100%;
		font-size: 24px;
		line-height: 1;
		margin-bottom: 45px;
		background-color: transparent;
		border: 0 none;
		border-bottom: 2px solid #004990;
		color: #004990;
		text-align: center;
		outline: none;
		&[type="tel"] {
			display: inline-block;
			width: 125px;
			position: static;
			opacity: 1;
			text-align: left;
		}
		&.game-nic {
			float: left;
			display: inline-block;
			width: 200px;
		}
	}
	.game-old {
		width: 30px;
		display: inline-block;
		&:before {
			content: 'Вік';
		}
		&:after {
			content: 'роки';
		}
		input {
			display: inline-block;
			width: 30px;
			position: static;
			opacity: 1;
		}
	}
	label {
		cursor: pointer;
		font-size: 24px;
		line-height: 2;
		display: inline-block !important;
		width: 50%;
		margin: 0 -3px 25px;
		input {
			position: absolute;
			z-index: -999;
			opacity: 0;
			width: auto;
		}
		//		male female
		&.game-gender {
			margin-top: -20px;
			position: relative;
			&._active {
				text-decoration: underline;
			}
			&._active:before {
				opacity: 1;
			}
			&._active:after {
				display: block;
			}
		}
		&.game-gender:hover:before {
			opacity: 1;
		}
		&.game-gender:before {
			position: relative;
			bottom: -5px;
			left: -3px;
			opacity: .3;
			transition: opacity .5s;
		}
		&[for="gender1"]:before {
			content: url(../img/gameform-cat-mal.png);
		}
		&[for="gender2"]:before {
			content: url(../img/gameform-cat-fem.png);
		}
		&.game-gender:after {
			content: '✓';
			z-index: 100;
			position: absolute;
			left: 55px;
			bottom: 12px;
			color: #fff;
			display: none;
		}
		&[for="gender1"]:after {
			left: 75px;
		}
		//		game-sex
		&.game-sex {
			position: relative;
			&._active {
				text-decoration: underline;
				&:before {
					content: url(../img/gameform-cat-sex.png);
				}
			}
		}
		&.game-sex:hover:before {
			content: url(../img/gameform-cat-sex.png);
		}
		&.game-sex:before {
			content: url(../img/gameform-cat-nosex.png);
			position: relative;
			bottom: -10px;
			margin-right: 10px;
		}
		&._active {
			text-decoration: underline;
		}
	}
}


/*game hover*/


/*111*/

.game__window._r1 .room-bg._top {
	background: url(../img/room1cat.jpg);
}

.game__window._r1 .room-bg._bot {
	background: url(../img/room1.jpg);
}


/*222*/

.game__window._r2 .room-bg._top {
	background: url(../img/room2cat.jpg);
}

.game__window._r2 .room-bg._bot {
	background: url(../img/room2.jpg);
}


/*333*/

.game__window._r3 .room-bg._top {
	background: url(../img/room3cat.jpg);
}

.game__window._r3 .room-bg._bot {
	background: url(../img/room3.jpg);
}


/*444*/

.game__window._r4 .room-bg._top {
	background: url(../img/room4cat.jpg);
}

.game__window._r4 .room-bg._bot {
	background: url(../img/room4.jpg);
}

.room-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: opacity 1s;
	width: 1000px;
	height: 600px;
}

.room-bg._top {
	z-index: 0;
//	mask-image: url(../img/msk.png);
//	mask-repeat: no-repeat, no-repeat;
}

.bdr {
	background: url(../img/bdr.png) no-repeat;
	position: absolute;
	width: 200px;
	height: 210px;
	top: 0;
	left: 0;
	cursor: none;
}

.game__window .game__pack {
	position: absolute;
	z-index: 100;
	width: 180px;
	opacity: 0;
	transition: all .5s;
	cursor: none;
	&._center {
		opacity: 1;
		top: 50% !important;
		left: 50% !important;
		transform: translate(-50%, -45%);
		width: 300px !important;
	}
}

.game__window._r1 .game__pack {
	bottom: 70px;
	left: -40px;
}

.game__window._r2 .game__pack {
	bottom: 20px;
	right: 50%;
}

.game__window._r3 .game__pack {
	width: 120px;
	bottom: 150px;
	right: 40px;
}

.game__window._r4 .game__pack {
	width: 120px;
	top: 190px;
	left: 90px;
}
