@import url('https://fonts.googleapis.com/css?family=Neucha|PT+Sans&subset=cyrillic');
//i {
//	font-family: "fontello";
//	font-style: normal;
//	font-weight: normal;
//	speak: none;
//	display: inline-block;
//	text-decoration: inherit;
//	width: 1em;
//	margin-right: .2em;
//	text-align: center;
//	font-variant: normal;
//	text-transform: none;
//	line-height: 1em;
//	margin-left: .2em;
//	-webkit-font-smoothing: antialiased;
//	-moz-osx-font-smoothing: grayscale;
//	text-decoration: none;
//	color: inherit;
//}
$green: #78ab71;
$red: #ce000c;

/*
basic styles	
*/

.title {
	font-family: Neucha;
	color: $green;
	font-size: 75px;
	font-weight: 400;
	line-height: 1.3;
	padding: 10px 0;
	text-align: center;
}

.link {
	display: inline-block;
	cursor: pointer;
	font-family: Neucha;
	color: #ffffff;
	font-size: 24px;
	font-weight: 400;
	line-height: 1;
	text-align: center;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
	padding: 10px 30px 12px 30px;
	border-radius: 20px;
	box-sizing: border-box;
	//	box-shadow: inset 1px 2px 5px 0px rgba(255, 255, 255, .7);
	box-shadow: inset 1px 2px 5px 0px rgba(255, 255, 255, .7), inset -1px -2px 5px 0px rgba(0, 0, 0, .7);
	&._red {
		background-color: $red;
	}
	&._green {
		background-color: $green;
	}
}

b {
	font-size: 24px;
	color: $green;
	font-family: Neucha;
}


/*
main styles	
*/

body {
	background-color: #f7f5ee;
	//	font-family: 'Neucha', cursive;
	font-size: 18px;
	line-height: 1.4;
	font-family: 'PT Sans', sans-serif;
	color: #333;
	min-width: 1024px;
	overflow-x: hidden;
}

header {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80px;
	background-color: rgba(120, 171, 113, 0.5);
}

.header__logo {
	position: absolute;
	left: 50%;
	top: 5px;
	margin-left: - (1024px / 2);
}

.menu-btn {
	position: absolute;
	right: 50%;
	top: 15px;
	margin-right: - (1024px / 2);
}

nav {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 555;
	height: auto;
	background-color: rgba(39, 86, 33, 0.9);
	padding-top: 80px;
	transform: translate(100%, 0);
	transition: all .5s;
	&._show {
		transform: translate(0, 0);
	}
}

.nav__item {
	margin: 2px 0;
	font-family: Neucha;
	font-size: 24px;
	color: #fff;
	display: block;
	padding: 5px 45px;
	line-height: 1.3;
	transition: all .5s;
	&.active,
	&:hover {
		//		background-color: rgba(120, 171, 113, 0.5);
		background: rgba(120, 171, 113, 0.5) url(../img/foot.png) 10px center no-repeat;
	}
}

.nav__close {
	font-size: 50px;
	position: absolute;
	top: 10px;
	left: 10px;
	@extend .link;
	@extend .link._red;
	width: 50px;
	height: 50px;
	padding: 0;
	border-radius: 50%;
}

.wrap {
	display: inline-block;
	width: 600px;
	vertical-align: top;
	margin: 0 -2px;
	&._small {
		width: 30%;
	}
	&._small_prod {
		width: 330px;
	}
	&._prod {
		width: 500px;
	}
	&>img {
		text-align: center;
	}
}

article {
	position: relative;
}


/*
main
*/

main {
	position: relative;
	height: 650px;
	&._index {
		height: 600px;
		padding-top: 90px;
		box-sizing: border-box;
		background: url(../img/bg-main-index.jpg) center no-repeat;
		background-size: cover;
		margin-bottom: 537px;
	}
	&._product {
		background: url(../img/main.jpg) center no-repeat;
		background-size: cover;
		&:before {
			content: url(../img/legs.png);
			position: absolute;
			z-index: -1;
			top: 100%;
			left: 50%;
			margin-left: -424px;
			margin-top: -32px;
		}
	}
}

.main-info {
	position: relative;
	top: 100px;
	left: 40%;
	//	transform: translate(-50%, 0);
	padding: 54px 80px;
	box-sizing: border-box;
	width: 630px;
	background-color: #fff;
}

.main-info__text {
	margin-top: 24px;
}


/*
index
*/

.index-title {
	@extend .title;
	color: #fff;
	font-size: 100px;
	line-height: 1;
	text-shadow: 0px 0px 25px #000000;
}

.index-main-info {
	position: relative;
	background-color: #fff;
	width: 630px;
	margin: 30px auto 0;
	padding: 66px;
	box-sizing: border-box;
	&:before {
		content: url(../img/index-text-side-img.png);
		position: absolute;
		z-index: -1;
		bottom: 0;
		left: 0;
		transform: translate(-150px, 0);
	}
}

.rules {
	position: relative;
}

.rules__button {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-20px, -50%);
	&:after {
		position: absolute;
		top: 80px;
		left: 50%;
		transform: translate(-50%, 0);
		content: url(../img/rules-btn-shadow.png);
	}
}

.rules__item {
	margin-top: 50px;
	position: relative;
	line-height: 15px;
	padding-left: 65px;
	img {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
	}
}

.rules-cat {
	position: absolute;
	z-index: 10;
	bottom: 50px;
	right: 0;
	transform: translate(75%, 0)
}

.rules-cat-leg {
	position: absolute;
	z-index: -1;
	top: 40%;
}


/*
index-info
*/

.index-info {
	background: url(../img/index-info.jpg) center no-repeat;
	background-size: cover;
	height: 751px;
	border: 30px solid #275621;
	border-left: 0 none;
	border-right: 0 none;
	text-align: center;
	p {
		width: 447px;
		margin: 60 auto;
		color: #fff;
		text-align: left;
	}
}


/*
heroes
*/

.heroes {
	padding: 30px 0;
	width: 440px*2+60px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hero {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
	width: 440px;
	height: 530px;
	padding: 20px;
	box-sizing: border-box;
	position: relative;
	display: inline-block;
	margin: 12px;
	img {
		width: 100%;
		position: relative;
	}
	p {
		margin-top: 25px;
		margin-left: 15px;
		font-family: Neucha;
		color: $green;
		font-size: 24px;
		line-height: 30px;
	}
	&._iscoming:before {
		position: absolute;
		z-index: 10;
		top: 200px;
		width: 100%;
		content: 'Скоро буде';
		font-family: Neucha;
		color: #ffffff;
		font-size: 50px;
		font-weight: 400;
		line-height: 30px;
		text-align: center;
	}
	&._iscoming img,
	&._iscoming .hero__link {
		filter: grayscale(1);
		opacity: .2;
	}
	&:nth-child(odd) {
		transform: translate(0, -50%);
		margin-bottom: -300px;
	}
}

.hero__link {
	position: absolute;
	bottom: 10px;
	right: 18px;
	width: 129px;
	height: 132px;
	box-sizing: border-box;
	font-family: Neucha;
	color: #ffffff;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
	padding-top: 85px;
	padding-right: 20px;
	&._orange {
		background: url(../img/story1-link.png) no-repeat;
	}
	&._blue {
		background: url(../img/story2-link.png) no-repeat;
	}
	&._green {
		background: url(../img/story3-link.png) no-repeat;
	}
}

.heroes__info {
	width: 440px;
	padding: 20px;
	box-sizing: border-box;
}

.heroes__info__title {
	@extend .title;
	font-size: 49px;
}


/*
section
*/

h3 {
	max-width: 910px;
	width: 100%;
	margin: auto;
	&._right {
		text-align: right;
	}
}

section {
	position: relative;
	max-width: 910px;
	width: 100%;
	margin: 21px auto;
	background-color: #fff;
	padding: 40px 8px;
	box-sizing: border-box;
}


/*section1*/

.graf {
	vertical-align: top;
	display: inline-block;
	width: 50%;
	padding: 0 7%;
	box-sizing: border-box;
	margin: 0 -2px;
	p {
		width: 200px;
		margin: auto;
	}
}

.sec1-desription {
	position: absolute;
	top: 55px;
	left: 420px;
	width: 164px;
}

.sec1-center-text {
	max-width: 466px;
	width: 100%;
	margin: 10px auto;
}

//side
.side {
	box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
	margin: 0 5px 74px;
	padding: 45px 38px;
	box-sizing: border-box;
	width: 284px;
	&._cat {
		margin-top: 74px;
		padding-top: 66px;
	}
	&:last-child {
		margin-bottom: 0;
	}
}

.side__title {
	display: block;
	margin: 0 auto 30px;
}

.article-cat {
	position: absolute;
	top: -60px;
	right: -10px;
}


/*section2*/

.prod-name {
	@extend .title;
	text-align: left;
	font-size: 30px;
}

.prod-info {
	color: $green;
}

.prod-desk {
	margin: 30px 0;
}

.prod-desk__title {
	@extend .title;
	text-align: left;
	font-size: 24px;
	display: block;
}

.footnotes {
	font-size: 14px;
	display: block;
}

.format-pack {
	color: #fff;
	display: inline-block;
	margin: 5px;
	width: 51px;
	height: 51px;
	border-radius: 50%;
	background-color: $green;
	text-align: center;
	line-height: 51px;
}

//slider
.slider {
	position: relative;
	text-align: center;
	padding-top: 380px;
}

.slider__item {
	position: absolute;
	top: 0;
	right: 0;
	height: 380px;
	&:nth-child(2) {
		display: none;
	}
	img {
		width: auto;
	}
}

.slider__nav__btn {
	cursor: pointer;
	outline: 0 none;
	width: 21px;
	height: 21px;
	box-sizing: border-box;
	border-radius: 50%;
	border: 1px solid $green;
	&._active {
		background-color: $green;
	}
}

//prod__link
.prod__link {
	@extend .link;
	&._green {
		max-width: 257px;
		width: 257px;
	}
	&._red {
		float: right;
		max-width: 197px;
		width: 197px;
	}
}


/*
ligal
*/

.ligal {
	max-width: 530px;
	width: 100%;
	font-size: 12px;
	margin: 74px auto 20px;
}

.ligal__logo {
	span {
		line-height: 36px;
	}
}


/*
footer
*/

footer {
	position: relative;
	height: 60px;
	padding: 10px;
	box-sizing: border-box;
	background-color: $red;
	text-align: center;
}

.footer__fb {
	position: absolute;
	width: 51px;
	height: 51px;
	display: block;
	left: 50%;
	top: 0;
	transform: translate(300px, -50%);
	background: url(../img/footer-fb.png) center no-repeat;
	&:after {
		content: url(../img/footer-cat.png);
		position: absolute;
		top: -100px;
		left: -5px;
	}
}

//@media (max-width: 1280px) {}
//@media (max-width: 1024px) {}
//@media (max-width: 768px) {}
//@media (max-width: 640px) {}
//@media (max-width: 480px) {}
//@media (max-width: 480px) {}